.landlord-wrapper-wrapper{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landlord-wrapper {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.review-card{
  padding: 10px;
  border: solid black 3px;
  width:40vw;
}